body {
  background-color: black;
  margin: 290px;
}


.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-gallery img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 10px;
  transition: transform 0.3s ease;
}

.image-gallery img:hover {
  transform: rotate(360deg) scale(1.2);
}
